@import "../fonts/Roboto/stylesheets.css";

/* Сброс отступов */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Стандарные стили */
html {
    font-family: "Roboto", san-serif;
    font-size: 20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* container */
.container {
    width: min(100%, 1440px);
    height: 100%;

    margin-inline: auto;
    padding: 15px;
}

/* header */
.header {
    width: 100%;

    background-color: #203d37;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &>.container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;
    }
}

.menu-toggle {
    width: 30px;
    height: 30px;

    opacity: 0;

    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
}

.menu-toggle:not(:checked)~.nav {
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-toggle:checked~.header__main .header__button-line {
    background-color: transparent;

    &::before {
        width: 120%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        width: 120%;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger-button {
    width: 30px;
    height: 30px;

    border: none;
    outline: none;

    background: none;

    position: relative;
}

.header__button-line {
    width: 100%;
    height: 6px;

    background-color: white;

    transition: background-color 0.2s ease-in-out;

    &::before,
    &::after {
        content: "";

        width: 100%;
        height: 6px;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        background-color: white;

        transition: transform 0.2s ease-in-out, top 0.2s ease-in-out,
            bottom 0.2s ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;

    padding: 20px;

    background: #203d37e6;

    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out,
        margin 0.3s ease-in-out;

    overflow: hidden;
}

.nav__link {
    font-size: 1.5rem;
    font-weight: 700;

    color: white;
    text-align: center;
}

/* main */
.main {
    margin-top: 62px;
}

/* preview */
.preview {
    width: 100%;
    height: calc(100dvh - 62px);
    position: relative;
}

.preview__picture img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;

    position: absolute;
    top: 0;
    left: 0;
}

.preview__title {
    width: (100% - 30px);
    margin: 0 15px;

    color: white;

    position: absolute;
    top: 90px;
    z-index: 2;
}

.preview__title--green {
    color: #21683e;
}

.preview__title--blue {
    color: #296274;
}

/* delivery */
.delivery {
    padding: 30px 15px;
}

.delivery__header {
    display: flex;
}

.delivery__title {
    flex-grow: 1;
    text-align: right;
}

.delivery__text {
    margin-top: 20px;
}

/* future */
.future {
    padding: 30px 15px;
}

.future__header {
    display: flex;
}

.future__title {
    flex-grow: 1;
    text-align: right;
}

.future__text {
    margin-top: 20px;
}

/* bestsellers */
.bestsellers {
    padding: 30px 15px;
}

.bestsellers__title {
    margin-bottom: 60px;
}

.bestsellers__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bestsellers__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: relative;
}

.bestsellers__img {
    width: 62%;
    margin-bottom: -40px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.bestsellers__name {
    width: 100%;
    padding: 65px 20px 15px;
    color: white;
    border-radius: 10px;
}

.bestsellers__name--green {
    background-color: #51bf4f;
}

.bestsellers__name--blue {
    background-color: #3da077;
}

.call {
    padding: 30px 15px;
}

.call__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    margin-top: 55px;
    padding: 30px;
    border-radius: 10px;
    background-color: #3da077;
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 121px;
        height: 121px;
        background-color: #3da077;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }

    &::before {
        left: 0;
        top: 0;
        transform: translateY(-50%);
        animation: move-right 7s linear 0s infinite alternate;
    }

    &::after {
        right: 0;
        bottom: 0;
        transform: translateY(50%);
        animation: move-left 7s linear 0s infinite alternate;
    }
}

.form__email,
.form__phone {
    display: flex;
    flex-direction: column;
}

.form__email-label,
.form__phone-label {
    color: white;
}

.form__email-input,
.form__phone-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.form__button {
    padding: 10px;
    margin-top: 80px;
    background-color: #51bf4f;
    color: white;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    outline: none;
    position: relative;
    transition: transform 0.3s ease-in-out;

    &:active {
        transform: translateY(-10px);
    }

    &::before {
        content: url("../img/btn-icon.png");
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-90%);
        z-index: 10;
    }
}

@keyframes move-right {
    to {
        left: 100%;
        transform: translateX(-100%) translateY(-50%);
    }
}

@keyframes move-left {
    to {
        right: 100%;
        transform: translateX(100%) translateY(50%);
    }
}